.video-container {
  position: relative;
  width: 100%;
}

.video-thumbnails-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 2em;
  left: 2em;
  width: 60%;
  height: 5em;
}

.thumbnails {
  width: 10em;
  height: 5em;
  border: 1px solid black;
}
