@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

.container {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  width: 70em;
  margin: 12em auto;
  height: 50em;
  background: #e6e7e8;
}

.hero-container {
  display: flex;
}
